/*global*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
/* This is for 768 min mobile responsive settings */



* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Lato', sans-serif;
    background-color: black;
}

img{
    max-width: 100%;
}

a {
    text-decoration: none;
}
/*utilities*/

/*menu*/
nav {
    width: 100%;
}
nav.menu {
    width: 100%;
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: Space-between;
}

#natGeoLogo {
    height: 35px;
    margin-top: 8px;
    margin-left: 10px;
    padding: 0;
}

.icons{
    align-self: flex-end;
    margin-bottom: 15px;
}


.login-icons {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 3px;
    color: black;
    margin-right: 20px;
}
.subscribe-icons {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 900;
    color: white;
    background-color: black;
    letter-spacing: 3px;
    padding: 20px;
    margin-right: 20px;
}

.fa-search, .icon-renew, .icon-menu{
    display: none;
    margin-right: 20px;
}

.fa-angle-double-down{
    margin-right: 20px;
}
/* header */

header {
    height: 180px;
}
.page_title {
    color: white;
    font-size: 32pt;
    text-align: center;
    margin-top: 30px;
}

.title_description {
    color: white;
    text-align: center;
    font-weight: 400;
    margin-top: 20px;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

.highLight {
    border-bottom: yellow solid 2px;
}
/* Not highlight on hover */
.highLight:hover {
    background-color: yellow;
    color: black;
}

.header_line {
    width: 30px;
    border: yellow 2px solid;
    margin-left: 350px;
    margin-top: 20px;
}
/* main news */
.main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.news_container {
    height: auto;
    width: 100%;
    overflow: hidden;
}

.main_news{
    margin-bottom: 20px;
    height: auto;
    position: relative;/*parent or container should be relative */
}

.main_news img {
    width: 100%;
}

.main-news-text {
    color: white;
    position: absolute;
    top: 400px;
    left: 30px;
}

.main-news-text h3 {
    text-transform: uppercase;
    font-size: 12pt;
    letter-spacing: 2px;
    font-weight: 700;
}

.main-news-text .news_text {
    font-size: 24pt;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-news-text .read_text, .secondary-news-text .read-text {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 8pt;
    font-weight: 900;
}

.secondary_news {
    align-items: center;
    height: auto;
    width: 47%; 
    margin: 10px; 
    float: left;
}

.secondary-news-text {
    background-color: white;
    height: 120px;
    margin-top: -10px;
    padding: 20px;
    margin-bottom: 20px;
}

.secondary-news-text p.text {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
}

.secondary-news-text h3{
    color: gray;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 8pt;
    font-weight: 900;
}

.picks_container {
    width: 100%;
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.picks_title {
    color: white;
    text-transform: uppercase;
    font-size: 24pt;
    letter-spacing: 4px;
    border-left: 5px solid yellow;
    padding-left: 20px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 20px;
}

.pick_element {
    flex-basis: 48%;
    display: flex;
    margin-top: 40px;
}
/*adjust pick element img*/
.pick_element img {
    width: 100px;
}

.pick_element_text {
    color: white;
    flex-basis: 300px;
    margin-left: 20px;
}

.picks_subtitle {
    font-size: 10pt;
    letter-spacing: 2px;
}

.subtext {
    font-weight: 900;
}

/* SEE MORE link */
.more_link_container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#more_link {
    font-weight: 900;
    letter-spacing: 3px;
    color: white;
    font-size: 9pt;
    margin-bottom: 20px;
}

@media only screen and (min-width: 1024px){
    .main_news img{
        margin-left: 10px;        
    }

    .main-news-text {
        top: 600px;
    }

    .secondary_news {
        width: 48%;
    }

    .pick_element {
        flex-basis: 50%;
    }

    .pick_element_text {
        flex-basis: 400px;
    }

    .header_line {
        margin-left: 500px;
    }
    
    .fa-search, .icon-renew, .icon-menu{
        display: contents;
        color: black;
    }

}

@media only screen and (min-width: 1440px){
    .header_line {
        margin-left: 700px;
    }

    main {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding-left: 200px;
        padding-right: 200px;
    }

    .main_news {
        flex-basis: 400px;
    }

    .main-news-text {
        top: 300px;
    }

    .picks_container {
        display: flex;
        flex-direction: column;

    }

    .news_secondary {
        display: flex;
        justify-content: space-between;

    }

    .pick_element_text{
        flex-basis: 220px;
    }

    .more_link_container {
        justify-content: start;
    }
}





